name: Continuous Integration

on:
    push:
        branches: "feature/**"

jobs:
    tests:
        runs-on: ubuntu-latest
        steps:
        -   name: Git Checkout
            uses: actions/checkout@v4
        -   name: Setup Java JDk
            uses: actions/setup-java@v4
            with:
                distribution: 'temurin'
                java-version: '21'
        -   name: Testes unitarios
            run: mvn test